footer.footer
		.footer-subscribe
			.subscribe-block
				h3.subscribe-title Subscribe to our newslatter
				p.text The user-friedliest WordPress theme ever made
				form.input-pole(action="user.js" method="POST" name="subscribe")
					input.subscribe-footer(type='text', name='subscribe', placeholder='Email', value='')
					.footer-submit-button
						input.submit-btn(type="submit" name="submit" value="")
		include ../components/navbar
		.footer-social
			ul.footer-contact
				li.web-social
					a.social-link(href='#')
						img.footer-social-media(src='/images/fb.png')
				li.web-social
					a.social-link(href='#')
						img.footer-social-media(src='/images/tw.png')
				li.web-social
					a.social-link(href='#')
						img.footer-social-media(src='/images/gplus.png')
			p.copyright © 2016 Vivek B | All Rights Reserved