.home-header
	.user-background 
		h1.user-name Rafat Ivan
		img.home-background(src='/images/user-background.png')
		.burger-menu(type="button" id="burger-menu" values="")
			include ../components/navbar
		.user-image
			img.user-img(src='/images/user-image.png')
	.user-info
		.user-status The European languages are members of the same family. Their separate existance is a myth.
		span.user-email muslimmahin@gmail.com
		ul.user-contact
			li.social-contact
				img.social-media(src='/images/facebook.png')
			li.social-contact
				img.social-media(src='/images/goggle.png')
			li.social-contact
				img.social-media(src='/images/twitter.png')
			li.social-contact
				img.social-media(src='/images/linkedin.png')