extends ../layouts/default

block content
	include ../views/components/home-header
	.content-wrapper
		.user-content
			.user-wall
				.post
					img.post-image(src='/images/lake.png')
					.post-data
						span.tag Inspiration
						span.separator
						span.date 10 Apr 2016
					h3.post-title Lorem ipsum dolor sit amet consectetur
					p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, nulla iure? Eveniet quibusdam iste doloribus! Pariatur molestiae ratione aspernatur temporibus magnam hic architecto veritatis debitis dolorum, quis dignissimos error corrupti! Nulla voluptate tempora officia aliquid quia odio ipsam consectetur tempore accusantium, illo temporibus cupiditate, blanditiis ut repudiandae amet non soluta?
					.post-extention
						a.button(href='#') Read More
						.share Share
							a.share-link(href='#')
								img.share-to(src='/images/goggle_black.png')
							a.share-link(href='#')
								img.share-to(src='/images/twitter_black.png')
							a.share-link(href='#')
								img.share-to(src='/images/facebook_black.png')
				.post
					img.post-image(src='/images/couple.png')
					.post-data
						span.tag Inspiration
						span.separator
						span.date 10 Apr 2016
					h3.post-title Lorem ipsum dolor sit amet consectetur
					p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, nulla iure? Eveniet quibusdam iste doloribus! Pariatur molestiae ratione aspernatur temporibus magnam hic architecto veritatis debitis dolorum, quis dignissimos error corrupti! Nulla voluptate tempora officia aliquid quia odio ipsam consectetur tempore accusantium, illo temporibus cupiditate, blanditiis ut repudiandae amet non soluta?
					.post-extention
						a.button(href='#') Read More
						.share Share
							a.share-link(href='#')
								img.share-to(src='/images/goggle_black.png')
							a.share-link(href='#')
								img.share-to(src='/images/twitter_black.png')
							a.share-link(href='#')
								img.share-to(src='/images/facebook_black.png')
				.post
					iframe.post-video(width="560" height="315" src="https://www.youtube.com/embed/KCCYeoyCUNA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					.post-data
						span.tag Inspiration
						span.separator
						span.date 10 Apr 2016
					h3.post-title Lorem ipsum dolor sit amet consectetur
					p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, nulla iure? Eveniet quibusdam iste doloribus! Pariatur molestiae ratione aspernatur temporibus magnam hic architecto veritatis debitis dolorum, quis dignissimos error corrupti! Nulla voluptate tempora officia aliquid quia odio ipsam consectetur tempore accusantium, illo temporibus cupiditate, blanditiis ut repudiandae amet non soluta?
					.post-extention
						a.button(href='#') Read More
						.share Share
							a.share-link(href='#')
								img.share-to(src='/images/goggle_black.png')
							a.share-link(href='#')
								img.share-to(src='/images/twitter_black.png')
							a.share-link(href='#')
								img.share-to(src='/images/facebook_black.png')
				ul.pagecounter
						li.page
							a.page-link(href='#') 1
						li.page
							a.page-link(href='#') 2
						li.page
							a.page-link(href='#') 3
						li.page
							a.page-link(href='#') .....
						li.page
							a.page-link(href='#') 10
						li.page
							a.page-link(href='#') >>
			include ../views/components/navigation
	include ../views/components/footer