.heading{
    background:green;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
.wrapper .box{
    background: rgb(190, 108, 108);
    color: white;
    padding: 50px;
}
.wrapper .box.box-1{
    grid-column: 1/3;
}
.wrapper .box.box-9{
    grid-column: 3/5;
    grid-row: 3/5;
}