.blog-navigation{
    .nav.navbar-nav.navbar-left{
        width: 100%;
        background-color: #e0dfdf;
        border: 1px solid #e0dfdf;
        padding: 30px;
        .nav-button{
            width: 90%;
            float: left;
            margin: 10px;
            padding: 0;
            text-align: center;
            background-color: #3146b1;
            .nav-link{
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                &:hover{
                    background: #ea4c89;
                    border: 1px solid #ea4c89;

                }
            }
            &.active{
                padding: 0;
            }
        }
    } 
}

.footer{
    .nav.navbar-nav.navbar-left{
        width: 100%;
        background-color: #e0dfdf;
        border: 1px solid #e0dfdf;
        padding: 30px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        .nav-button{
            display: inline;
            width: 12%;
            float: left;
            margin: 2px 10px;
            padding: 0;
            text-align: center;
            background-color: #e0dfdf;
            border: 1px solid #9c9b9b;
            .nav-link{
                text-decoration: none;
                color: #3146b1;
                text-transform: initial;
                padding: 0;
            }
        }
    }
}
.burger-menu{
    .nav.navbar-nav.navbar-left{
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        width: 350px;
        float: right;
        padding: 30px;
        .nav-button{
            width: 90%;
            float: right;
            margin: 10px;
            padding: 0;
            text-align: center;
            background-color: #3146b1;
            .nav-link{
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                &:hover{
                    background: #ea4c89;
                    border: 1px solid #ea4c89;

                }
            }
            &.active{
                padding: 0;
            }
        }
    }
}
